<h2>Emails</h2>


<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Message</th>
    <th></th>
<!--
    <th></th>
-->
    <th></th>
  </tr>

<% @email_contacts.each do |email_contact| %>
  <tr>
    <td><%= email_contact.name %></td>
    <td>
      <%= email_contact.email %>
    </td>
    <td>
      <%= email_contact&.subject[0..30] %>
    </td>
    <td>
      <%= email_contact&.message[0..30] %>
    </td>
    <td><%= link_to 'Show', email_contact %></td>
    <!--
    <td><%= link_to 'Edit', edit_email_contact_path(email_contact) %></td>
    -->
    <td><%= link_to 'Delete', email_contact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

